<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <footer th:fragment="fragment-footer">
    <br />
    <div class="jumbotron text-center" style="margin-top: 0">
      <p>Created by coolmarvel</p>
      <p>🏛 드림시큐리티 블록체인기술연구팀</p>
      <a
        href="https://saranghaeo.tistory.com/"
        target="_blank"
        style="text-decoration: none; color: black"
        >🔗 Blog</a
      ><br />
      <a
        href="https://github.com/coolmarvel"
        target="_blank"
        style="text-decoration: none; color: black"
        >🔗 Github</a
      >
    </div>
  </footer>
</html>
